

*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:Segoe UI, Arial, sans-serif;
background:#0d1117;
color:#fff;
}

.topo{
display:flex;
justify-content:space-between;
align-items:center;
padding:22px 8%;
background:#161b22;
border-bottom:1px solid #30363d;
}

.logo{
font-size:32px;
font-weight:bold;
color:#58a6ff;
}

.menu a{
color:#fff;
text-decoration:none;
margin-left:20px;
}

.hero{
text-align:center;
padding:90px 8%;
background:linear-gradient(135deg,#10233f,#1f6feb);
}

.hero h1{
font-size:58px;
margin-bottom:18px;
}

.hero p{
font-size:18px;
max-width:760px;
margin:auto;
margin-bottom:25px;
}

.btn{
display:inline-block;
padding:14px 28px;
margin:8px;
border-radius:10px;
background:#238636;
color:white;
text-decoration:none;
font-weight:bold;
}

.secundario{
background:#30363d;
}

.cards{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:22px;
padding:50px 8%;
}

.card{
background:#161b22;
padding:28px;
border-radius:18px;
border:1px solid #30363d;
transition:0.3s;
min-height:230px;
cursor:pointer;
}

.card:hover{
transform:translateY(-8px);
border-color:#58a6ff;
box-shadow:0 12px 28px rgba(31,111,235,0.25);
}

.icone{
font-size:42px;
margin-bottom:12px;
}

.card h2{
margin-bottom:8px;
}

.mini{
color:#c9d1d9;
}

.texto-hover{
margin-top:15px;
opacity:0;
max-height:0;
overflow:hidden;
transition:0.4s;
line-height:1.5;
color:#dbeafe;
}

.card:hover .texto-hover{
opacity:1;
max-height:250px;
}

footer{
margin-top:40px;
padding:25px;
text-align:center;
background:#161b22;
border-top:1px solid #30363d;
}

.formulario{
max-width:500px;
margin:80px auto;
padding:35px;
background:#161b22;
border-radius:16px;
border:1px solid #30363d;
}

.formulario h1{
margin-bottom:20px;
color:#58a6ff;
}

input,select,button{
width:100%;
padding:13px;
margin:10px 0;
border-radius:8px;
border:1px solid #30363d;
background:#0d1117;
color:white;
}

button{
background:#238636;
border:none;
font-weight:bold;
cursor:pointer;
}

button:hover{
background:#2ea043;
}

@media(max-width:900px){
.cards{
grid-template-columns:1fr;
}

.hero h1{
font-size:38px;
}
}
